<% provide(:title, "Parse Detector Types") %>
<%= render 'breadcrumbs' %>
<h1>
  PDT de
  <%= @function_type.name %>
</h1>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Cine</th>
    <th></th>
  </tr>
  <% @parse_detector_types.each do |parse_detector_type| %>
    <tr>
      <td>
        <%= parse_detector_type.name %>
      </td>
      <td>
        <%= parse_detector_type.cinema.name if parse_detector_type.cinema %>
      </td>
      <td>
        <%= render_index_actions [@function_type, parse_detector_type] %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to [:new, :admin, @function_type, :parse_detector_type], class: 'btn btn-default' do %>
  <i class="icon-plus"></i>
  Nuevo Parse Detector Type
<% end %>