%h1 
	PDT de 
	= @function_type.name

.row-fluid
	.span2 Nombre:
	.span3= @parse_detector_type.name

.row-fluid
	.span2 Cinema:
	.span3= @parse_detector_type.cinema.name

= link_to [:admin, @function_type, :parse_detector_types], class: 'btn btn-default' do
	%i.icon-arrow-left
	Volver

= link_to [:edit, :admin, @function_type, @parse_detector_type], class: 'btn btn-default' do
	%i.icon-edit
	Editar