<fieldset>
	<%= simple_form_for [:admin,@page] do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs">
			<%= f.input :permalink %>
			<%= f.input :title %>
			<%= f.input :content %>
			<strong>Imagenes:</strong>
			<%= f.simple_fields_for :images do |b| %>
			  <%= render 'image_fields', f: b %>
			<% end %>
		</div>
		<%= link_to_add_fields "Add Image", f, :images %>

		<div class="form-actions">
		  <%= f.button :submit, 'Guardar Página', class: 'btn btn-primary'  %>
		</div>
	<% end %>

	<%= link_to admin_pages_path, class: 'btn' do %>
		<i class="icon-arrow-left"></i> Volver
	<% end %>
</fieldset>