
<p>
  <b>Permalink:</b>
  <%= @page.permalink %>
</p>

<p>
  <b>Título:</b>
  <%= @page.title %>
</p>

<p>
  <b>Contenido:</b>
  <%= @page.content %>
</p>

<%= render 'images' %>

<%= link_to admin_pages_path, class: 'btn' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>
<%= link_to [:edit, :admin, @page], class: 'btn' do %>
	<i class="icon-edit"></i> Editar
<% end %>