<%= simple_form_for [:admin, @opinion] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :author %>
    <%= f.input :date %>
    <%= f.input :comment %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
