<p>
  <b>Autor:</b>
  <%= @opinion.author %>
</p>
<p>
  <b>Fecha:</b>
  <%= @opinion.date %>
</p>
<p>
  <b>Comentario:</b>
  <%= @opinion.comment %>
</p>
<%= link_to [:admin, :opinions], class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
<%= link_to [:edit, :admin, @opinion], class: 'btn btn-default' do %>
  <i class="icon-edit"></i>
  Editar
<% end %>
