= simple_form_for [:admin, @function_type] do |f|
	= f.error_notification

	.form-inputs
		= f.input :name
		= f.association :cinemas, as: :check_boxes

	.form-actions
		= f.button :submit, class: 'btn btn-primary'
