- provide(:title, 'Dashboard')
- @cinemas.each do |cinema|
	%h4= cinema.name
	%table.table.table-bordered.table-condensed
		%tr
			%th{style: "width: 150px;"} Theater
			- 8.times do |n|
				%th= l Date.current + n, format: :short
		
		- cinema.theaters.each do |theater|
			%tr
				%td= link_to theater.name, [:admin, theater, :functions]
				- hash = theater.functions.count(group: :date)
				- 8.times do |n|
					- if hash[Date.current + n].blank?
						%td.dashboard.no-functions{onclick: "location.href= '#{admin_theater_functions_path(theater, date: Date.current + n)}'"}
							0
					- else
						%td.dashboard.has-functions{onclick: "location.href= '#{admin_theater_functions_path(theater, date: Date.current + n)}'"}
							=hash[Date.current + n]