<%= form_for [:admin, @award, @award_specific_category], :html => { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= render_errors @award_specific_category %>
	
  <div class="form-group">
    <%= f.label :name, 'Nombre:', class: 'col-sm-2 control-label' %>
		<div class="col-sm-5">
    	<%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
	
	<div class="form-group">
    <%= f.label :winner_type, 'Winner Type:', class: 'col-sm-2 control-label' %>
		<div class="col-sm-5">
	    <% ["show", "person"].each do |winner_type| %>
			  <div class="radio">
			    <label>
						<%= f.radio_button :winner_type, winner_type, checked: @award_specific_category.winner_type == winner_type %>
	      		<%= winner_type.humanize %>
			    </label>
			  </div>
	    <% end %>
		</div>
	</div>

	<h3>Nominados:</h3>
	<%= f.fields_for :nominations do |builder| %>
	  <%= render 'nomination_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Nominado", f, :nominations %>
	

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
    	<%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to [:admin, @award, :award_specific_categories], class: 'btn btn-default' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>