
.row-fluid
	.span2 Nombre:
	.span10= @contact_ticket.name

.row-fluid
	.span2 De:
	.span10= @contact_ticket.from

.row-fluid
	.span2 Asunto:
	.span10= @contact_ticket.subject

.row-fluid
	.span2 Contenido:
	.span10= @contact_ticket.content

= link_to admin_contact_tickets_path, class: 'btn btn-default' do
	%i.icon-arrow-left
	Volver