
<div id="carousel-example-generic" class="carousel slide">
  <div class="carousel-inner">
		
    <div class="item active">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<h1>La mejor aplicación de cines Chilena</h1>
					<br />
					<p>
						Cine Horarios es la aplicación preferida para ver los horarios de las películas que se presentan en los cines Chilenos.
					</p>
					<br />
					<div class="center-content">
						<a class="btn btn-success btn-large center-content" data-section="#features" href="#">
							<%= "Vea las Características" %>
						</a>
					</div>
				</div>
				<div class="col-md-7">
					<%= image_tag 'isometric_iphone.jpg', class: "img-responsive" %>
				</div>
			</div>
		</div>
		
    <div class="item">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<%= image_tag 'Apple-App-Store.jpg', class: "img-responsive" %>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<h1> ¡ Disponible ahora en el App Store ! </h1>
					<p>
						Cine Horarios está disponible para ser descargada directamente a su dispositivo iPhone o iPod Touch a través de la App Store.
					</p>
					<a class="btn btn-success btn-large" href="http://itunes.com/apps/cinehorarios">
						Descárguela Ahora!
					</a>
				</div>
			</div>
		</div>
		
		<div class="item">
			<%= render 'opinions' %>
		</div>
		
	</div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <%= image_tag 'prev-arrow.png', class: 'icon-prev' %>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <%= image_tag 'next-arrow.png', class: 'icon-next' %>
  </a>
</div>
