
<div id="carousel-example-generic" class="carousel slide">
  <div class="carousel-inner">
		
    <div class="item active">
			<div class="row">
				<div class="col-md-4 col-xs-offset-1">
					<h1>Horarios de películas en Cines Chilenos</h1>
					<br />
					<p>
						Cine Horarios es la aplicación preferida para ver los horarios de las películas que se presentan en los principales cines de Chile.
					</p>
					<br />
					<div class="center-content">
						<button class="features-scroll btn btn-success">
							Vea las Características
						</button>
					</div>
				</div>
				<div class="col-md-6 col-xs-11">
					<%= image_tag 'isometric_iphone.jpg', class: "img-responsive", style: "margin-left: auto; margin-right: auto;" %>
				</div>
			</div>
		</div>
		
    <div class="item">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<%= image_tag 'Apple-App-Store.jpg', class: "img-responsive" %>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<h1> ¡ Disponible ahora en el App Store ! </h1>
					<p>
						Disponible para ser descargada directamente en su dispositivo iPhone o iPod Touch a través de la App Store.
					</p>
					<br />
					<div class="center-content">
						<a class="btn btn-success btn-large" href="https://itunes.apple.com/cl/app/cine-horarios/id469612283" target="_blank">
							Descárguela Ahora!
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="item">
			<%= render 'opinions' %>
		</div>
		
	</div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <%= image_tag 'prev-arrow.png', class: 'icon-prev' %>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <%= image_tag 'next-arrow.png', class: 'icon-next' %>
  </a>
</div>
