<%= form_for [:admin, @contact_ticket], html: { role: 'form', class: "form-horizontal"} do |f| %>

	<div class="form-group">
		<%= f.label :name, 'Nombre:', class: "col-lg-3 control-label" %>
		<div class="col-lg-9">
			<% if params[:contact_ticket] %>
				<%= f.text_field :name, value: params[:contact_ticket][:name], class: "form-control", placeholder: 'Nombre' %>
			<% else %>
				<%= f.text_field :name, class: "form-control", placeholder: 'Nombre' %>
			<% end %>
		</div>
	</div>
	<br />
	<div class="form-group">
		<%= f.label :from, 'Email:', class: "col-lg-3 control-label" %>
		<div class="col-lg-9">
			<% if params[:contact_ticket] %>
				<%= f.text_field :from, value: params[:contact_ticket][:from], class: "form-control", placeholder: 'Email' %>
			<% else %>
				<%= f.text_field :from, class: "form-control", placeholder: 'Email' %>
			<% end %>
		</div>
	</div>
	<br />
	<div class="form-group">
		<%= f.label :subject, 'Asunto:', class: "col-lg-3 control-label" %>
		<div class="col-lg-9">
			<% if params[:contact_ticket] %>
				<%= f.text_field :subject, value: params[:contact_ticket][:subject], class: "form-control", placeholder: 'Asunto' %>
			<% else %>
				<%= f.text_field :subject, class: "form-control", placeholder: 'Asunto' %>
			<% end %>
		</div>
	</div>
	<br />
	<div class="form-group">
		<%= f.label :content, 'Comentario:', class: "col-lg-3 control-label" %>
		<div class="col-lg-9">
			<% if params[:contact_ticket] %>
				<%= f.text_area :content, value: params[:contact_ticket][:content], class: "form-control", rows: "6" %>
			<% else %>
				<%= f.text_area :content, class: "form-control", rows: "6" %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-9">
			<%= recaptcha_tags %>
		</div>
	</div>

	<br />

	<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <button type="submit" class="btn btn-default" data-loading-text="Enviando...">Enviar</button>
    </div>
  </div>
<% end %>

<br />
