/ features
#features
	.container
		/ header
		%h2.section_header
			%hr.left.visible-desktop
				%span= "Características"
				%hr.right.visible-desktop
		/ feature list
		.row
			.span4.feature
				= image_tag 'app_img_showtimes.jpg', class: 'thumb'
				%h3
					%i.i_cloud
					= "Cine Horarios!"
				%p.description
					= "Horarios de exhibición de todas las películas en los principales cines de Chile."
				/ %a.btn.btn-default{:href => "#"} more
				
			.span4.feature
				= image_tag 'app_img_billboard.jpg', class: 'thumb'
				%h3
					%i.i_chart
					= "Cartelera y Próximos Estrenos"
				%p.description
					= "Búsqueda de los horarios a partir de la cartelera semanal. Seleccione una películas para encontrar el cine y la hora que más le acomode. También podrá ver los próximos estrenos"
				/ %a.btn.btn-default{:href => "#"} more
				
			.span4.feature
				= image_tag 'app_img_detail.jpg', class: 'thumb'
				%h3
					%i.i_movil
					= "Detalle de Películas"
				%p.description
					= "La ficha de cada película que incluye la sinópsis, imágenes, trailers, elenco y la posibilidad de buscar los cines y horarios donde se exhibe."
				/ %a.btn.btn-default{:href => "#"} more