.row.opinion
	.span5
		%p.comment= "\"#{@opinions[0].comment}\"" if @opinions[0]
		%p.author= " - #{@opinions[0].author}" if @opinions[0]

	.span5
		%p.comment= "\"#{@opinions[1].comment}\"" if @opinions[1]
		%p.author= " - #{@opinions[1].author}" if @opinions[1]
		
.row.opinion
	.span5
		%p.comment= "\"#{@opinions[2].comment}\"" if @opinions[2]
		%p.author= " - #{@opinions[2].author}" if @opinions[2]

	.span5
		%p.comment= "\"#{@opinions[3].comment}\"" if @opinions[3]
		%p.author= " - #{@opinions[3].author}" if @opinions[3]
