<%= simple_form_for [:admin, @show], html: { class: 'form-horizontal show_form', role: 'form' } do |f| %>
  <%= f.error_notification %>
	
			<%= f.input :active %>
			<div class="row">
				<div class="col-sm-8">
					
				  <div class="form-group">
				    <%= f.label :name, 'Nombre:', include_blank: true, class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :name, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :name_original, 'Nombre Original:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :name_original, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :remote_image_url, 'URL Imagen:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :remote_image_url, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :year, 'Año:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :year, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :duration, 'Duración:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :duration, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :information, 'Synopsis:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_area :information, class: 'form-control', style: "height: 200px;" %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :imdb_code, 'IMDb code:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :imdb_code, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :imdb_score, 'IMDb Score', class: 'col-sm-4 control-label' %>
						<div class="col-sm-3">
				    	<%= f.text_field :imdb_score, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :metacritic_url, 'Metacritic URL:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :metacritic_url, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :metacritic_score, 'Metacritic Score', class: 'col-sm-4 control-label' %>
						<div class="col-sm-3">
				    	<%= f.text_field :metacritic_score, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :rotten_tomatoes_url, 'Rotten Tomatoes URL:', class: 'col-sm-4 control-label' %>
						<div class="col-sm-7">
				    	<%= f.text_field :rotten_tomatoes_url, class: 'form-control' %>
				    </div>
				  </div>
					
				  <div class="form-group">
				    <%= f.label :rotten_tomatoes_score, 'Rotten Tomatoes Score', class: 'col-sm-4 control-label' %>
						<div class="col-sm-3">
				    	<%= f.text_field :rotten_tomatoes_score, class: 'form-control' %>
				    </div>
				  </div>
				</div>
					
				<div class="col-sm-3">
				  <%= f.input :debut, include_blank: true %>
					<%= f.input :rating, collection: [['TE', 'TE'],['TE+7', 'TE+7'], ['13+', '13+'], ['14+', '14+'], ['15+', '15+'], ['16+', '16+'], ['18+', '18+']], :as => :radio_buttons %>
					<%= f.association :genres, collection: Genre.select([:id, :name]).all(order: 'name'), as: :check_boxes %>
			  </div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3>Personas:</h3>
					<%= f.fields_for :show_person_roles do |b| %>
					  <%= render 'show_person_role_fields', f: b %>
					<% end %>
					<br />
					<%= link_to_add_fields "Add Person", f, :show_person_roles %>
					<h3>Imagenes:</h3>
					<%= f.simple_fields_for :images do |b| %>
					  <%= render 'image_fields', f: b %>
					<% end %>
					<br />
					<%= link_to_add_fields "Add Image", f, :images %>
					<h3>Videos:</h3>
					<%= f.simple_fields_for :videos do |b| %>
					  <%= render 'video_fields', f: b %>
					<% end %>
					<br />
					<%= link_to_add_fields "Add Video", f, :videos %>
			  </div>
			</div>

	<br />
			
	<%= f.button :submit, class: 'btn btn-primary'  %>
<% end %>
<br />