<%= simple_form_for [:admin, @show], html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= f.error_notification %>
	
			<div class="row">
				<div class="col-sm-8">
					<%= f.input :name %>
					<%= f.input :name_original %>
					<%= f.input :remote_image_url %>
					<%= f.input :image %>
					<%= f.input :year %>
					<%= f.input :duration %>
					<%= f.input :information, input_html: { rows: '15' } %>
					<%= f.input :imdb_code %>
					<%= f.input :imdb_score %>
					<%= f.input :metacritic_url %>
					<%= f.input :metacritic_score %>
					<%= f.input :rotten_tomatoes_url %>
					<%= f.input :rotten_tomatoes_score %>
				</div>
					
				<div class="col-sm-3">
					<div class="form-group">
				    <%= f.label :active, 'Activo?', class: 'col-sm-5 control-label' %>
						<div class="col-sm-7">
				    	<%= f.check_box :active, class: 'form-control' %>
				    </div>
				  </div>
					<div class="form-group">
						<%= f.label :debut, 'Estreno:', class: 'col-sm-5 control-label' %>
						<div class="col-sm-7">
							<%= f.date_select :debut, {:include_blank => true, :default => nil, :order => [:day, :month, :year]} %>
						</div>
				  </div>

					<div class="form-group">
				    <%= f.label :rating, 'Rating:', class: 'col-sm-5 control-label' %>
						<div class="col-lg-7">
							<% ['TE','TE+7','13+','14+','15+','16+','18+'].each do |rating| %>
							  <div class="radio">
							    <label>
										<%= f.radio_button :rating, rating, checked: @show.rating == rating %>
										<%= rating.humanize %>
							    </label>
							  </div>
						  <% end %>
				    </div>
					</div>

					<% genres = Genre.select([:id, :name]).order(:name) %>
					<% if genres.count(:id) > 0 %>
					  <div class="form-group">
					    <%= f.label :genre_ids, 'Genres:', class: 'col-lg-5 control-label' %>
							<div class="col-lg-7">
								<% genres.each do |genre| %>
								  <div class="checkbox">
								    <label>
								    	<%= check_box_tag 'show[genre_ids][]', genre.id, @show.genres.map(&:id).include?(genre.id) %>
								    	<%= genre.name.humanize %>
								    </label>
								  </div>
							  <% end %>
					    </div>
					  </div>
					<% end %>
			  </div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h3>Personas:</h3>
					<div id="show_person_roles" data-update-url="<%= admin_show_person_roles_sort_url %>">
						<%= f.fields_for :show_person_roles do |b| %>
						  <%= render 'show_person_role_fields', f: b %>
						<% end %>
					</div>
					<br />
					<%= link_to_add_fields "Add Person", f, :show_person_roles %>
					<h3>Imagenes:</h3>
					<div class="row">
						<%= f.fields_for :images do |b| %>
						  <%= render 'image_fields', f: b %>
						<% end %>
					</div>
					<br />
					<%= link_to_add_fields "Add Image", f, :images %>
					<h3>Videos:</h3>
					<%= f.fields_for :videos do |b| %>
					  <%= render 'video_fields', f: b %>
					<% end %>
					<br />
					<%= link_to_add_fields "Add Video", f, :videos %>
			  </div>
			</div>

	<br />

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
    	<%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to session[:previous_url], class: 'btn btn-default' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>