<fieldset class="show-image">
	<div class="destroy">
		<%= f.hidden_field :_destroy %>
		<button class="close remove_fields">X</button>
	</div>
	<%= f.check_box :show_portrait_id, {}, 1, 0 %>
	<% if f.object.new_record? %>
	  <div class="form-group">
	    <%= f.label :remote_image_url, 'URL Imagen:', class: 'col-sm-2 control-label' %>
			<div class="col-sm-10">
	    	<%= f.text_field :remote_image_url, class: 'form-control' %>
				<%= f.file_field :image %>
	    </div>
	  </div>
  <% else %>
		<% if f.object.image.url %>
    	<%= image_tag(f.object.image.url(:smaller))  %>
		<% else %>
			<%= 'Imágen Inválida' %>
		<% end %>
  <% end %>
</fieldset>