<% provide(:title, "#{@show.name}") %>
<%= render 'breadcrumbs' %>

<p>
  <b>Nombre:</b>
  <%= @show.name %>
</p>

<p>
  <b>Imagen:</b>
  <%= link_to image_tag(@show.image.smallest), @show.image.to_s if @show.image %>
</p>

<p>
  <b>Información:</b>
  <%= @show.information %>
</p>

<p>
  <b>Duración:</b>
  <%= @show.duration %>
</p>

<p>
  <b>Nombre Original:</b>
  <%= @show.name_original %>
</p>

<p>
  <b>Estreno:</b>
  <%= @show.debut %>
</p>

<p>
  <b>Rating:</b>
  <%= @show.rating %>
</p>

<p>
  <b>Metacritic URL:</b>
  <%= @show.metacritic_url %>
</p>

<p>
  <b>Metacritic Score:</b>
  <%= @show.metacritic_score %>
</p>

<p>
  <b>IMDB CODE:</b>
  <%= @show.imdb_code %>
</p>

<p>
  <b>IMDB Score:</b>
  <%= @show.imdb_score %>
</p>

<p>
  <b>Rotten Tomatoes URL:</b>
  <%= @show.rotten_tomatoes_url %>
</p>

<p>
  <b>Rotten Tomatoes Score:</b>
  <%= @show.rotten_tomatoes_score %>
</p>

<p><b>Géneros:</b>
	<% @show.genres.each do |genre|  %>
		<%= "#{genre.name} - " %>
	<% end %>
</p>

<%= render 'show_person_roles' %>
<%= render 'images' %>
<%= render 'videos' %>

<%= link_to session[:previous_url], class: 'btn btn-default' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>
<%= link_to [:edit, :admin, @show], class: 'btn btn-default' do %>
	<i class="icon-edit"></i> Editar
<% end %>