<%= simple_form_for [:admin, @country, @city] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, label: 'Nombre' %>
    <%= f.association :theaters, as: :check_boxes, label: 'Complejos' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
