= simple_form_for [:admin, @cinema] do |f|
	= f.error_notification
	
	.form-inputs
		= f.input :name
		= f.input :image
		= f.input :information
		= f.association :theaters, as: :check_boxes
	.form-actions
		= f.button :submit, 'Guardar', class: 'btn btn-primary'
