<%= simple_form_for [:admin, @cinema] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image %>
    <%= f.input :information %>
    <%= f.association :theaters, as: :check_boxes %>
  </div>
	<br />
	<br />
  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
<br />