<%= form_for [:admin, @person], layout: :horizontal do |f| %>
  <%= render_errors @person %>

	<% people = Person.select([:id, :name]).order(:name) %>

	<% if people.count(:all) > 0 %>
  	<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<%= f.hidden_field :id, class: 'people-select ajax', style: "width: 100%;",
              data: { source: select_people_admin_people_path } %>
			</div>
		</div>
	<% end %>

	<%= f.text_field :name %>
	<%= f.text_field :imdb_code %>
	<%= f.text_field :remote_image_url %>
	<%= f.file_field :image %>

  <%= f.submit 'Guardar' %>
<% end %>

<%= render_backbutton [:admin, :people] %>
