<%= simple_form_for [:admin, @person], :html => { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= render_errors @person %>
	
	<% people = Person.select([:id, :name]).order(:name) %>
	
	<% if people.count(:all) > 0 %>
  	<div class="form-group">
			<div class="col-lg-5 col-lg-offset-2">
	  		<%= select_tag "person_checker", options_from_collection_for_select(people, "id", "name"), include_blank: true , class: 'chzn-select' %>
			</div>
		</div>
	<% end %>
	
	<%= f.input :name %>
	<%= f.input :imdb_code %>
	<%= f.input :remote_image_url %>
	<%= f.input :image %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
    	<%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to [:admin, :people], class: 'btn btn-default' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>