= simple_form_for [:admin, @channel] do |f|
	= f.error_notification

	.form-inputs
		= f.input :name, label: 'Nombre'
		= f.input :vtr, label: 'VTR'
		= f.input :directv, label: 'Directv'
		
	.form-actions
		= f.button :submit, 'Guardar', class: 'btn btn-primary'