= simple_form_for [:admin,@user] do |f|
	= f.error_notification

	.form-inputs
		= f.input :name if current_user.admin?
		= f.input :email
		= f.input :password
		= f.input :password_confirmation
		= f.input :admin if current_user.admin?
		= f.association :theaters, as: :check_boxes if current_user.admin?
		
	%br
	
	.form-actions
		= f.button :submit, class: 'btn btn-primary'