%h1 Usuarios

%table.table
	%tr
		%th Nombre
		%th e-mail
		%th
		%th

	- @users.each do |user|
		%tr
			%td= user.name
			%td= user.email
			%td
				= link_to [:edit, :admin, user], class: 'btn' do
					%i.icon-edit
					Editar
				- if current_user != user
					= link_to [:admin, user], class: 'btn btn-danger', method: :delete, data: { confirm: 'Está seguro?' } do
						%i.icon-trash
						Destruir

%br

- if current_user.admin?
	= link_to new_admin_user_path, class: 'btn' do
		%i.icon-plus
		Nuevo Usuario
