<h1>Usuarios</h1>

<table class="table">
  <tr>
		<th>Nombre</th>
    <th>e-mail</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
		<td>
				<%= link_to [:edit, :admin, user], class: 'btn' do %>
					<i class="icon-edit"></i> Editar
				<% end %>
				<% if current_user != user %>
					&nbsp;
					<%= link_to [:admin, user], class: 'btn btn-danger', method: :delete, data: { confirm: 'Está seguro?' } do %>
						<i class="icon-trash"></i> Destruir
					<% end %>
				<% end %>
		</td>
  </tr>
<% end %>
</table>

<br />

<% if current_user.admin? %>
	<%= link_to new_admin_user_path, class: 'btn' do %>
		<i class="icon-plus"></i> Nuevo Usuario
	<% end %>
<% end %>
