<%= form_for [:admin, @theater, @function], :html => { class: 'form-horizontal', role: 'form' } do |f| %>
	
  <% date = params[:date].to_date %>
  <div class="form-inputs">
    <%= f.hidden_field :date, value: date %>
    <%= f.hidden_field :theater_id, value: @theater.id %>
    <%= f.collection_select :show_id, @shows, :id, :name, {include_blank: true}, { class: "chzn-select" } %>
		
    <div class="row">
      <br/>
      <div class="col-md-3 col-sm-3">
        <%= f.collection_check_boxes :function_type_ids, @theater.cinema.function_types.order(:name), :id, :name, :item_wrapper_class => "checkbox_line" %>
				
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: right;">
            <%= I18n.l(date, format: :long) %>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <%= text_field_tag :horarios, @function.showtimes, size: 50 %>
          </div>
        </div>
        <br/>
        <% if params[:action] == "new" || params[:action] == "create" %>
          <% 7.times do |n| %>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: right;">
                <%= I18n.l(date = date.next, format: :long) %>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <%= text_field_tag "horarios_extra_#{n}", "", size: 50 %>
              </div>
            </div>
            <br/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
