= simple_form_for [:admin, @theater, @function] do |f|
	= f.error_notification

	- date = params[:date].to_date
	.form-inputs
		= f.hidden_field :date, value: date
		= f.hidden_field :theater_id, value: @theater.id
		= f.association :show, collection: Show.order('shows.name ASC').all, :input_html => { :class => "chzn-select" }
		.row
			%br
			.col-md-3.col-sm-3
				= f.collection_check_boxes :function_type_ids, @theater.cinema.function_types.order(:name).all, :id, :name, :item_wrapper_class => "checkbox_line"
			.col-md-9.col-sm-9
				.row
					.col-md-4.col-sm-4.col-xs-4{style: "text-align: right;"}= I18n.localize(date, format: :long)
					.col-md-8.col-sm-8.col-xs-8= text_field_tag :horarios, @function.showtimes.map{ |showtime| l(showtime.time, format: :normal_time ) }.join(', '), size: 50

				- if params[:action] == "new" || params[:action] == "create"
					- 7.times do |n|
						.row
							.col-md-4.col-sm-4.col-xs-4{style: "text-align: right;"}= I18n.localize(date = date.next, format: :long)
							.col-md-8.col-sm-8.col-xs-8= text_field_tag "horarios_extra_#{n}", "", size: 50

	%br
	.form-actions
		= f.button :submit, class: 'btn btn-primary'
	%br