<%= form_tag admin_theater_create_parse_path, method: :put do %>
  <h1>
    <%= @theater.name %>
  </h1>
  <% @functionsArray.each_with_index do |item, index| %>
    <%= simple_fields_for "movie_#{index}" do |b| %>
      <div class="row">
        <div class="col-sm-4">
          <% if item[:functions].count > 0 %>
            <%= b.hidden_field :parsed_show_id, value: item[:parsed_show][:id] %>
            <%= b.hidden_field :parsed_show_show_id, value: item[:parsed_show][:show_id] %>
            <% if item[:parsed_show][:show_id].blank? %>
              <%= b.collection_select :show_id, @shows, :id, :name, {include_blank: true}, { class: "chzn-select" } %>
            <% else %>
              <%= b.collection_select :show_id, @shows, :id, :name, {selected: item[:parsed_show][:show_id], include_blank: true}, { class: "chzn-select" } %>
            <% end %>
          <% end %>
          <br/>
          <%= b.collection_check_boxes :function_types, @function_types, :id, :name, checked: item[:function_types], :item_wrapper_class => "checkbox_line" %>
        </div>
        <div class="col-sm-8">
          <strong>
            <%= item[:name] %>
          </strong>
          <% item[:functions].each_with_index do |function, index2| %>
            <%= b.simple_fields_for "function_#{index2}" do |f| %>
              <div class="row">
                <div class="col-sm-4" style="text-align: right">
                  <%= function[:day] if @cinema.name == "Cinemark" %>
                  <%= function[:date] %>
                </div>
                <div class="col-sm-8">
                  <%= f.hidden_field :date, value: function[:date] %>
                  <%= f.text_field :horarios, value: function[:horarios], size: 60 %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <br/>
    <% end %>
  <% end %>
  <%= hidden_field_tag :is_cineplanet, "true" if !@is_cineplanet.blank? %>
  <%= hidden_field_tag :date, @date.to_date %>
  <div class="form-actions">
    <%= submit_tag :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
