= form_tag admin_theater_create_parse_path, method: :put do

	%h1= @theater.name
	- @functionsArray.each_with_index do |item, index|
		= simple_fields_for "movie_#{index}" do |b|
		
			= b.collection_select :show_id, @shows, :id, :name, {include_blank: true}, { class: "chzn-select" }
			%strong
				= item[:name]
			%br
			= b.collection_check_boxes :function_types, @function_types, :id, :name, checked: item[:function_types], :item_wrapper_class => "checkbox_container"
			%br
			- item[:functions].each_with_index do |function, index2|
				= b.simple_fields_for "function_#{index2}" do |f|
					= function[:date]
					= f.hidden_field :date, value: function[:date]
					= f.text_field :horarios, value: function[:horarios], class: 'no-bottom-margin', size: 80
					%br
			%br
			
	= hidden_field_tag :date, @date.to_date
	
	.form-actions
		= submit_tag :submit, class: 'btn btn-primary'
