<% provide(:title, "Funciones") %>
<%= render 'breadcrumbs' %>
<h1>
  Funciones de
  <%= @theater.name %>
</h1>
<div class="functions">
  <%= link_to new_admin_theater_function_path(date: params[:date]), class: 'btn btn-default' do %>
    <i class="icon-plus"></i>
    Nueva Función
  <% end %>
  <%= link_to 'Copiar dia', {controller: 'functions', action: 'copy_last_day', date: params[:date]}, method: :post, class: 'btn btn-default' %>
  <%= link_to 'Borrar día', {controller: 'functions', action: 'delete_day', date: params[:date]}, data: { confirm: '¿Está seguro que quiere borrar todas las funciones de este día?' }, method: :post, class: 'btn btn-danger' %>
  <%= link_to 'Borrar Semana', {controller: 'functions', action: 'delete_week', date: params[:date]}, data: { confirm: '¿Está seguro que quiere borrar todas las funciones de este día en adelante?' }, method: :post, class: 'btn btn-danger' %>

</div>
<%= render 'shared/date_pagination' %>
<h2>
  <%= I18n.localize(params[:date].to_date, format: :normal) if params[:date] %>
</h2>
<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Película</th>
    <th>Tipo</th>
    <th>Horario</th>
    <th></th>
  </tr>
  <% @functions.each_with_index do |function, index| %>
    <tr>
      <td>
        <%= (index+1) %>
      </td>
      <td>
        <%= image_tag(function.show && function.show.images.where(poster: true).length > 0 ? function.show.images.where(poster: true).first.image.smaller : "/uploads/default_images/default.png") %>
      </td>
  	  <td>
  	  	<%= function.parsed_show.present? ? function.parsed_show.name : "NO PS" %>
  	  </td>
  	  <td>
  	  	<%= function.parsed_show && function.parsed_show.show ? function.parsed_show.show.name : "NO PSS" %>
  	  </td>
      <td width="100">
        <%= function.show.name if function.show %>
      </td>
      <td width="100">
        <%= function.function_types.map(&:name).join(', ') %>
      </td>
      <td>
        <%= function.showtimes %>
      </td>
      <td width="200">
        <%= link_to edit_admin_theater_function_path(@theater.id, function.id, date: params[:date]), class: 'btn btn-default' do %>
          <i class="icon-edit"></i>
          Editar
        <% end %>
        <%= link_to admin_theater_function_path(@theater.id, function.id, date: params[:date]), class: 'btn btn-danger', method: :delete, data: { confirm: 'Está seguro?' } do %>
          <i class="icon-trash"></i>
          Destruir
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
