= render 'breadcrumbs'

= form_tag admin_theater_create_ajax_parse_path, method: :put do

	%h3= @theater.name
	
	= @hash.class
	
	.form-actions
		= submit_tag :submit, class: 'btn btn-primary'

%br
= link_to admin_theater_functions_path(@theater, date: @date), class: 'btn btn-default' do
	%i.icon-arrow-left
	Volver