<%= form_for [:admin, @theaterable, @theater], layout: :horizontal do |f| %>
  <%= render_errors @theater %>

  <%= f.text_field :name %>
  <%= f.text_field :parse_helper %>
  <%= f.check_box :active %>
  <%= f.text_field :web_url %>
  <%= f.text_field :address %>
  <%= f.text_area :information %>
  <%= f.number_field :latitude %>
  <%= f.number_field :longitude %>

	<% cities = City.select([:id, :name]).order('name ASC') %>
	<% if cities.count(:all) > 0 %>
		<div class="form-group">
	    <%= f.label :city_id, 'Ciudad:', class: 'col-sm-2 control-label' %>
			<div class="col-sm-5">
		    <% cities.each do |city| %>
				  <div class="radio">
				    <label>
			      	<%= f.radio_button :city_id, city.id, checked: @theater.city_id == city.id %>
			      	<%= city.name.humanize %>
				    </label>
					</div>
		    <% end %>
			</div>
		</div>
	<% end %>

	<% cinemas = Cinema.select([:id, :name]).order('name ASC') %>
	<% if cinemas.count(:all) > 0 %>
		<div class="form-group">
	    <%= f.label :cinema_id, 'Cine:', class: 'col-sm-2 control-label' %>
			<div class="col-sm-5">
		    <% cinemas.each do |cinema| %>
				  <div class="radio">
				    <label>
			      	<%= f.radio_button :cinema_id, cinema.id, checked: @theater.cinema_id == cinema.id %>
			      	<%= cinema.name.humanize %>
				    </label>
					</div>
		    <% end %>
			</div>
		</div>
	<% end %>

  <%= f.submit 'Guardar' %>
<% end %>

<%= link_to [:admin, @theaterable, :theaters], class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
