= render 'breadcrumbs'

.row-fluid
	.span2 Nombre:
	.span10= @theater.name

.row-fluid
	.span2 Dirección:
	.span10= @theater.address

.row-fluid
	.span2 Información:
	.span10= @theater.information

.row-fluid
	.span2 Latitud:
	.span10= @theater.latitude

.row-fluid
	.span2 Longitud:
	.span10= @theater.longitude

.row-fluid
	.span2 Nombre:
	.span10= @theater.name

= link_to [:admin, @theaterable, :theaters], class: 'btn btn-default' do
	%i.icon-arrow-left
	Volver

= link_to [:edit, :admin, @theaterable, @theater], class: 'btn btn-default' do
	%i.icon-edit
	Editar