%ul{class: "nav nav-list affix"}
	- if current_user
		%li
			%a{href: "#{admin_path}"}
				%i.icon-home
				Inicio
		
		- if current_user.admin?
			%li.nav-header Admin
			%li
				= link_to admin_users_path do
					%i.icon-folder-close-alt
					Usuarios

		%li.nav-header
			%i.icon-folder-close-altWeb
			Page
		%li
			= link_to admin_pages_path do
				%i.icon-file-alt
				Pages
		%li
			= link_to admin_contact_tickets_path do
				%i.icon-tag
				Contact Tickets

		%li.nav-header
			%i.icon-tablet
			API
		%li
			= link_to admin_countries_path do
				%i.icon-globe
				Países
		%li
			= link_to admin_cinemas_path do
				%i.icon-building
				Cines
		%li
			= link_to admin_shows_path do
				%i.icon-film
				Shows
		%li
			= link_to admin_genres_path do
				%i.icon-comments
				Géneros
		%li
			= link_to admin_function_types_path do
				%i.icon-bookmark
				Tipos de Función
		%li
			= link_to admin_people_path do
				%i.icon-group
				Personas
