<ul class="nav nav-list affix">
	<% if current_user %>
		<li><a href="<%= admin_path %>"><i class="icon-home"></i> Inicio</a></li>
		
		<% if current_user.admin? %>
			<li class="nav-header"> Admin</li>
			<li><a href="<%= admin_users_path %>"><i class="icon-user"></i> Usuarios</a></li>
		<% end %>

	  <li class="nav-header"><i class ="icon-folder-close-alt"></i> Web Page</li>
		<li><a href="<%= admin_pages_path %>"><i class="icon-file-alt"></i> Pages</a></li>
		<li><a href="<%= admin_contact_tickets_path %>"><i class="icon-tag"></i> Contact Tickets</a></li>

	  <li class="nav-header"><i class ="icon-tablet"></i> API</li>
		<li><a href="<%= admin_countries_path %>"><i class="icon-globe"></i> Países</a></li>
		<li><a href="<%= admin_cinemas_path %>"><i class="icon-building"></i> Cines</a></li>
		<li><a href="<%= admin_shows_path %>"><i class="icon-film"></i> Shows</a></li>
		<li><a href="<%= admin_genres_path %>"><i class="icon-comments-alt"></i> Géneros</a></li>
		<li><a href="<%= admin_function_types_path %>"><i class="icon-bookmark"></i> Tipos de Función</a></li>
		<li><a href="<%= admin_people_path %>"><i class="icon-group"></i> Personas</a></li>
	<% end %>
</ul>