<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-hover="collapse" data-target="#navbar-cine-horarios">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-cine-horarios">
	    <ul class="nav navbar-nav">
	      <li>
					<%= link_to admin_path do %>
						<i class="icon-home"></i>
						Inicio
					<% end %>
				</li>
				<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-hover="dropdown">Admin <b class="caret"></b></a>
	        <ul class="dropdown-menu">
			      <li>
							<%= link_to admin_users_path do %>
								<i class="icon-user"></i>
								Users
							<% end %>
						</li>
			      <li>
							<%= link_to admin_contact_tickets_path do %>
								<i class="icon-tag"></i>
								Contactos
							<% end %>
						</li>
			      <li>
							<%= link_to admin_opinions_path do %>
								<i class="icon-comments"></i>
								Opiniones
							<% end %>
						</li>
			      <li>
							<%= link_to admin_countries_path do %>
								<i class="icon-globe"></i>
								Países
							<% end %>
						</li>
			      <li>
							<%= link_to admin_genres_path do %>
								<i class="icon-comments"></i>
								Géneros
							<% end %>
						</li>
			      <li>
							<%= link_to admin_function_types_path do %>
								<i class="icon-bookmark"></i>
								Tipos de Función
							<% end %>
						</li>
	        </ul>
	      </li>
				<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-hover="dropdown">
						<i class="icon-group"></i>
						Actores
						<b class="caret"></b>
					</a>
	        <ul class="dropdown-menu">
			      <li>
							<%= link_to new_admin_person_path do %>
								<i class="icon-user"></i>
								Nuevo Actor
							<% end %>
						</li>
			      <li>
							<%= link_to admin_people_path do %>
								<i class="icon-group"></i>
								Todos los Actores
							<% end %>
						</li>
	        </ul>
	      </li>
				<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-hover="dropdown"><i class="icon-building"></i> Cines <b class="caret"></b></a>
	        <ul class="dropdown-menu">
			      <li>
							<%= link_to admin_cinemas_path do %>
								Todos
							<% end %>
						</li>
						<% Cinema.all.each do |cinema| %>
				      <li>
								<%= link_to admin_cinema_theaters_path(cinema) do %>
									<%= image_tag cinema.image, size: "20x20" %>
									<%= cinema.name %>
								<% end %>
							</li>
						<% end %>
	    		</ul>
				</li>
				<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-hover="dropdown">
						<i class="icon-film"></i> Shows <b class="caret"></b>
					</a>
	        <ul class="dropdown-menu">
			      <li>
							<%= link_to new_admin_show_path do %>
								Nuevo
							<% end %>
						</li>
			      <li>
							<%= link_to admin_shows_path do %>
								Todos
							<% end %>
						</li>
			      <li>
							<%= link_to billboard_admin_shows_path do %>
								Cartelera
							<% end %>
						</li>
			      <li>
							<%= link_to comingsoon_admin_shows_path do %>
								Próximamente
							<% end %>
						</li>
	    		</ul>
				</li>
				<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-hover="dropdown">
						<i class="icon-trophy"></i> Awards <b class="caret"></b>
					</a>
	        <ul class="dropdown-menu">
			      <li>
							<%= link_to admin_awards_path do %>
								Awards
							<% end %>
						</li>
			      <li>
							<%= link_to admin_award_categories_path do %>
								Award Categories
							<% end %>
						</li>
			      <li>
							<%= link_to admin_award_types_path do %>
								Award Types
							<% end %>
						</li>
	    		</ul>
				</li>
				
	      <li>
					<%= link_to [:admin, :videos] do %>
						<i class="icon-play"></i>
						Videos
					<% end %>
				</li>
	    </ul>
			
			<ul class="nav navbar-nav navbar-right">
			  <% if current_user %>
				  <li>
				    <%= link_to current_user.email, edit_admin_user_path(current_user) %>
					</li>
					<li>
				    <%= link_to 'Cerrar Sesión', admin_session_path('current'), method: 'delete' %>
					</li>
			  <% else %>
					<li>
			    <%= link_to 'Iniciar Sesión', new_admin_session_path %>
					</li>
				<% end %>
			</ul>
	  </div>
  </div>
</nav>