<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.ico' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
	</head>

	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.29.5/react-bootstrap.min.js"></script>

		<%= render 'layouts/react_hot_assets' %>
		
  	<div>
  		<%= react_component('NavBar', { }, { server_side: true }) %>
  		<div className="container">
				<%= yield %>
    	</div>
  	</div>

	</body>
</html>
