<!DOCTYPE html>
%html
	%head
		%title Cine Horarios
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= favicon_link_tag 'favicon.ico'
		%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
		
	%body
		%a.scrolltop{:href => "#"}
			= image_tag 'web_up.png'
			
		= render 'layouts/analytics' if Rails.env.production?
		
		= render 'layouts/navbar'
											
		= yield
		
		= render 'layouts/footer'
