<!DOCTYPE html>
<html>
<head>
	<title>Webcinehorarios</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body id="webpage">
	<%= render 'layouts/analytics' if Rails.env.production? %>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="row">
					<div class="span5">
						<a class="brand" href="<%= root_path %>">Cine Horarios</a>
					</div>
					<div class="span7">
						<div class="nav-collapse">
							<ul class="nav">
								<li><a href="<%= root_path %>"><i class="icon-home"></i> Inicio</a></li>
								<li><a href="<%= contact_path %>"><i class="icon-edit"></i> Contacto</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='maincontent'>
		<div class="container">
			<div class="row">
				<div class="span5">
					<div class="sidebar"></div>
				</div>
				<div class="span7">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
