<%= form_for [:admin, @award] do |f| %>
  <%= render_errors @award %>
	
	<div class="form-group">
		<%= f.label :name, 'Nombre:', class: 'control-label' %>
		<br />
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :image, 'Imagen:', class: 'control-label' %>
		<br />
		<%= f.file_field :image %>
	</div>
	<div class="form-group">
		<%= f.label :active, 'Activo:', class: 'control-label' %>
		<br />
		<%= f.check_box :active, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :date, 'Fecha:', class: 'control-label' %>
		<br />
		<%= f.date_select :date, :order => [:day, :month, :year] %>
	</div>
	
	<div class="form-group">
	  <%= f.label :award_type, 'Award Type', class: 'control-label' %>
	  <% @award_types.each do |award_type| %>
	    <br><%= f.radio_button :award_type_id, award_type.id, checked: @award.award_type_id == award_type.id %>
	    <%= award_type.name.humanize %>
	  <% end %>
	</div>
		
	<div class="form-actions">
  	<%= f.submit :Guardar, class: 'btn btn-primary' %>
	</div>
<% end %>
<br />