<fieldset class="nomination">
  <div class="form-group row">
		<div class="col-sm-2 col-sm-offset-2 control-label">Ganador?</div>
		<div class="col-sm-5">
    	<%= f.check_box :winner, class: 'form-control' %>
    </div>
		<div class="destroy col-sm-1">
			<%= f.hidden_field :_destroy %>
			<button class="close remove_fields">X</button>
		</div>
  </div>
  <div class="form-group row">
		<div class="col-sm-2 col-sm-offset-2 control-label">Show:</div>
		<div class="col-sm-5">
			<%= f.collection_select :show_id, @shows, :id, :name, {include_blank: true}, { class: "chzn-select, form-control" } %>
    </div>
  </div>
	
	<h3 class="col-sm-offset-2">Personas:</h3>
  <%= f.fields_for :nomination_person_roles do |builder| %>
    <%= render 'nomination_person_role_fields', f: builder %>
  <% end %>
	<br />
	<%= link_to_add_fields "Add Person", f, :nomination_person_roles %>
</fieldset>
<br />